# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\vicio\OneDrive\Área de Trabalho\ANADEVESI\ads\5periodo\LP3\aoContrario\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
